# Ignore node_modules
node_modules

# Ignore build directory
build

# Ignore virtual environments
venv

# Ignore other unnecessary files and directories
*.log
.git
.gitignore

# Don't ignore package.json and package-lock.json
!package.json
!package-lock.json

# Ignore Docker configuration files (optional, if you don't want them in the image)
Dockerfile.nginx
../docker-compose.yml

# Don't ignore the entire config directory and its contents
!config/

# Ignore everything else in config but not config/ssl and config/nginx
config/*
!config/ssl/
!config/nginx/
